// --------- COLOR    ---------  
// ----------------------------  
// ----------------------------   

// Global
$gray: 			#1a1a1a;
$brow: 			#2c1e04;
$browShadow:	#8b540d;
$black: 		#000000;
$red: 			#ff1805;
$yellowText:	#fee801;
$yellowBt: 		#febd17;
$syellowBt:		#fe9917;


// --------- FONTS    ---------  
// ----------------------------  
// ----------------------------  

// hNeueBold
@font-face {
	font-family: 'hNeueBold';	
	src: url('../fonts/neue/HelveticaNeueBold.ttf')  format('truetype');
}
// hNeueBoldCond
@font-face {
	font-family: 'hNeueBoldCond';	
	src: url('../fonts/neue/HelveticaNeueBoldCond.otf')  format('opentype');
}
// hNeueRegular
@font-face {
	font-family: 'hNeueRegular';	
	src: url('../fonts/neue/HelveticaNeueRegular.ttf')  format('truetype');
}
// reset
p, a, h1, h2, h3, h4, nav, ul, li{
	padding: 0;
	margin: 0;
}