/*
--------------------------
--------------------------
CTA
--------------------------
--------------------------
*/
@import "base";
$counterText:   11px;
$counterNumber: 26px;
$remainText:    13px;
$suggestText:   24px;
$hurryText:     14px;
$betText:       18px;
$trustedText:   12px;

// mobile width >= 240px  
@media screen and (min-width: 240px) {

	#banner-bet{
        // border: 1px solid lime; 
        background: $black;  
        color: white;
        text-align: center; 
        margin: 15px 0;               
        img{
            // border: 1px solid red;
            max-width: 170px;                              
            margin-top: 5px;
         }// end img banner
        .info-handler{            
           // border: 1px solid red;
           // background-color: gray;
            #countdown{
                // border: 1px solid red;
                width: 100%;
                height: 50px;
                margin-top: 20px;
                // background-color: blue;
                display: flex;
                justify-content: center;
                span{
                    width: 50px;
                    height: 50px;                    
                    margin-left: 2px;
                    background-color: $red;
                    p.text{
                        font: $counterText 'hNeueBold', Helvetica, Arial, sans-serif; 
                        margin-top: 7px;                   
                    }
                    p.number{                       
                        font: $counterNumber 'hNeueBoldCond', Helvetica, Arial, sans-serif;
                        line-height: $counterNumber;
                    }
                }                                
            } // end #countdown
            #timeEnd{
                /*
                font: $counterText 'hNeueBold', Helvetica, Arial, sans-serif; 
                display: none;                
                background-color: $red;
                text-align: center;
                margin: 0 auto;
                margin-top: 10px;
                padding: 2px;
                max-width: 90px;
                */
            }
            p.remain{
                font: $remainText 'hNeueBold', Helvetica, Arial, sans-serif;
                margin-top: 10px;
            }
            h1.suggest{
                font: $suggestText 'hNeueBoldCond', Helvetica, Arial, sans-serif;
                line-height: 20px;
                color: $yellowText;
                margin: 10px 5px;
            }
            p.hurry{
                font: $hurryText 'hNeueRegular', Helvetica, Arial, sans-serif;
                line-height: 21px;
                span{
                    font: $hurryText 'hNeueBold', Helvetica, Arial, sans-serif; 
                }
            }
        } //end .info-handler
        .bet-handler{
            background-color: $gray;
            width: 100%;
            min-height: 130px;
            margin: 15px 0 0;
            text-align: center; 
            button{
                font: $betText 'hNeueBoldCond', Helvetica, Arial, sans-serif;
                color: $brow;  
                background-color: $yellowBt;
                background: linear-gradient(180deg, $yellowBt 00%, $syellowBt  50%);
                width: 120px;
                height: 48px;
                border-radius: 5px;
                box-shadow: 0 2px 0 0 $browShadow;
                margin: 20px 0;
                padding: 0;
                &:hover{
                    background: linear-gradient(0deg, $yellowBt 50%, $syellowBt  100%);
                }    
            }
            p.trusted{
                font: $trustedText 'hNeueBold', Helvetica, Arial, sans-serif;
                line-height: $trustedText;
            }
        }//end .bet-handler
    }//end #banner-bet
}
 




// tablet width  >= 720px  
@media screen and (min-width: 720px) {

    #banner-bet{
        // border: 4px solid orange;
        // background-color: red;
        background: transparent;
        max-width: 710px;
        height: 140px;
        overflow: hidden;
        // margin: 0 auto;
        text-align: left;
        display: flex;
        justify-content: center;
        img{
            // border: 1px solid lime;
            background-color: $black;
            max-width: 160px;
            // height: 140px;
            width: 20%;
            margin: 0;
        }// end img banner
        .info-handler{  
            // border: 1px solid lime;
            background-color: $black;
            width: 60%;
            max-width: 370px;
            display: flex;
            flex-wrap: wrap;
            padding-left: 5px;
            justify-content: center;
            #countdown{
                // border: 1px solid lime;
                max-width: 210px;                                    
                margin-top: 10px;
                span{
                    text-align: center;
                }
            }//end #countdown      
            p.remain{
                // border: 1px solid cyan;
                max-width: none;
                width: auto;
                max-height: 35px;
                padding: 0;
                margin: 0;
                line-height: 16px;
            }
            h1.suggest{
                // border: 1px solid lime;
                margin: 0;  
                padding: 0;
                // max-width: 50px;
                max-height: 28px;
                line-height: 20px;    
                float: left;          
            }
            p.hurry{
                // border: 1px solid lime;
                float: left;
                margin: 0;
                // margin-top: -10px;  
                padding: 0;
                max-height: 20px;
                // max-width: 50px;
                line-height: 14px; 
            }                
        }//end .info-handler
        .bet-handler{
            // border: 1px solid lime;
            background-color: $gray;
            max-width: 180px;
            width: 20%;
            height: 140px;
            margin: 0;
            padding: 0 1% 0;
            button{
               // margin-top: 27px;
               margin: 20px 0;
            }
        } //end .bet-handler
    }//end #banner-bet
}


// small screen width >= 810px  
@media screen and (min-width: 810px) {
    #banner-bet{
        .info-handler{  
            justify-content: flex-start;
            p.remain{
                // border: 1px solid red;
                max-width: 105px;
                margin-top: 20px;
                margin-left: 3%;
            }
        }
        .bet-handler{
            button{
               margin-top: 27px;
            }
        }
    }
}


// small screen width >= 955px  
@media screen and (min-width: 955px) {
    #banner-bet{
        .info-handler{ 
            justify-content: center; 
            p.remain{
                // border: 1px solid lime;
                max-width: none;
                margin: 0;
            }
        }
    }
}
// small screen width >= 980px  
@media screen and (min-width: 980px) {
    #banner-bet{
        .info-handler{  
            p.remain{
                // border: 1px solid magenta;
            }
        }
    }
}


// large screen width >= 1185px   
@media screen and (min-width: 1185px) {
	#banner-bet{
        .info-handler{  
            justify-content: flex-start;
            p.remain{
                // border: 1px solid white;
                max-width: 105px;
                margin-top: 20px;
                margin-left: 3%;
            }
        }
    }
}
 

// large screen width >= 1300px   
@media screen and (min-width: 1300px) {
	#banner-bet{
        .info-handler{  
            p.remain{
                margin-left: 6%;
            }
        }
    }
}