<section id="banner-bet">
    <img src="./img/football-player.png" alt="player">
    <div class="info-handler">
         
            <div id="countdown">
                <span class="day">
                    <p class="text">DAYS</p>
                    <p id="dayNumber" class="number">00</p>
                </span>
                <span class="hours">
                    <p class="text">HOURS</p>
                    <p id="hourNumber" class="number">00</p>
                </span>
                <span class="minutes">
                    <p class="text">MIN</p>
                    <p id="minuteNumber" class="number">00</p>
                </span>
                <span class="seconds">
                    <p class="text">SEC</p>
                    <p id="secondNumber" class="number">00</p>
                </span>
            </div>
            <div id="timeData" style="display: none;"> </div>
            <!-- #countdown -->
            <!-- <div id="timeEnd"> TIME EXPIRED </div> -->
            <p id="timeEnd" class="remain"> Remaining Time To Place Bet </p>
            <h1 class="suggest"> Our NFL Pick: Vikings +3 </h1>
            <p class="hurry"> Hurry up!
                <span> 25 </span> people have placed this bet </p>
        
    </div>
    <!-- .info-handler -->
    <div class="bet-handler">
        <button> Bet & Win </button>
        <p class="trusted">Trusted
            <br> Sportsbetting.ag</p>
    </div>
</section>